@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova_Regular.ttf");
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova_Light.ttf");
  font-style: oblique;

}

button{
  font-family: ProximaNova, serif;
  cursor: pointer;
}

.wrapper {
  font-family: ProximaNova, serif;
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 10px;
}

.products-cards{
  display: grid;
  grid-column: 1 / 4;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}



